* {
  padding: 0;
  border: 0;
  font-family: "Indie Flower";
}

body {
  background-image: url("https://img.freepik.com/vector-gratis/escena-granja-naturaleza-granero-espantapajaros_1308-46264.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  color: rgb(9, 116, 24);
  font-size: 40px;
}

.keysContainer {
  display: flex;
  justify-content: space-around;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: rgb(9, 116, 24) 3px solid;
  color: rgb(9, 116, 24);
  border-radius: 5px;
  transition: all 0.05s;
}

.letter {
  font-size: 30px;
}

.animal {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.js-playing {
  border: 5px solid yellowgreen;
  transform: scale(1.1);
}
